/* Blue color scheme */

:root {
  --accent: 189, 230, 251;         /* #BDE6FB */
  --accent-off: 111, 130, 138;     /* #6F828A */
  --dark: 30, 37, 41;              /* #1E2529 */
  --darkest: 23, 29, 32;           /* #171D20 */
  --dark-highlight: 59, 73, 77;    /* #3B494D */
  --dark-apparent: 32, 39, 42;     /* #20272A */
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#loginPage{
    position: repeat;
    top: -10%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url('https://raw.githubusercontent.com/vaggosgrspartan/gifpublic/refs/heads/main/futuristic.gif');
    background-size: auto;
    background-position: relative;
}
